In [27]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [28]:
df = pd.read_csv('pokemon.csv')
df['Type 1'] = df['Type 1'].fillna(value = 'None')
df['Type 2'] = df['Type 2'].fillna(value = 'None')
df.dropna(inplace = True)
df = df.rename(columns={'Pokemon Id':'pokemon_id', 'Type 1':'type_1', 
                        'Type 2':'type_2', 'Sp. Atk':'sp_atk',
                        'Sp. Def':'sp_def'})

In [29]:
df.sample(1)

,pokemon_id,Name,type_1,type_2,HP,Attack,Defense,sp_atk,sp_def,Speed,Generation,Legendary
741,673,Gogoat,Grass,Grass,123.0,100.0,62.0,97.0,81.0,68.0,6.0,False

___

## Split into train, validate, & test
- Used for exploration and modeling

In [30]:
def split(df, target):
    """
    Crude train, validate, test split
    To stratify, send in a column name
    """
    if target == None:
        train, test = train_test_split(df, test_size=.2, random_state=123)
        train, validate = train_test_split(train, test_size=.3, random_state=319)
    else:
        train, test = train_test_split(df, test_size=.2, random_state=123, stratify=df[target])
        train, validate = train_test_split(train, test_size=.3, random_state=319, stratify=train[target])
    return train, validate, test

In [31]:
train, validate, test = split(df, 'type_1')

___

## Split train, validate, and test into X and y
- Used for modeling

In [32]:
def separate_y(train, validate, test, target):
    '''
    This function will take the train, validate, and test dataframes and separate the target variable into its
    own panda series
    '''
    
    X_train = train.drop(columns=[target])
    y_train = train[target]
    X_validate = validate.drop(columns=[target])
    y_validate = validate[target]
    X_test = test.drop(columns=[target])
    y_test = test[target]
    return X_train, y_train, X_validate, y_validate, X_test, y_test

In [33]:
X_train, y_train, X_validate, y_validate, X_test, y_test = separate_y(train, validate, test, 'type_1')

___